

.header{
    background-color: rgb(8, 8, 8);
    height:150px;
    width: 100%;
    
}
.menu{
    width: 40%;
}
.titlebar{
    width: 60%;
}
.headline{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
font-size: 50px;
padding:10px;
}
.pos{
   padding:30px;
   color: white;
   text-align: left;
  
}

.flex{
    display: flex;
}
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1{
    font-weight:50px;
    color: rgb(59, 58, 58);
}
.orange{
    color: orange;
}
.first2-sec{
    max-width: 50%;
    margin-left:10%;
    margin-top:5%;
    margin-right:5%;
}
.div-img{
    max-width:80%;
}
.opacity{
    opacity: 0.7;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    padding: 15px;
    color: white;
    border-radius:20px;

}
.section2{
    background-image: url(images/shapes/7.png);
}
.middle{
    text-align: center justify;
    padding-left: 30%;
    padding-right: 30%;
}
.recipie{
    box-shadow: 5px 5px 30px 5px gray;
    margin-left:100px ;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 400px;
    width: 700px;
    padding: 10px;
    border-radius:20px;
}
.image{
    padding: 10px;
    width:95%;
    height:50%;
   
   
}
.optional{
    margin-left:100px ;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 40px;
    text-align: center;
    box-shadow:5px 5px 30px 5px gray;
    border-radius: 20px;
}
#left{
    align-content: left;
    padding-left: 250px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#right{
    align-content: right;
    padding-left: 110px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#center{
    align-content: center;
    padding-left: 130px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer{
    background-color: rgb(31, 30, 30);
    height:120px;
    width: 100%;
    text-align: center;
}
#net-color{
    color: rgb(163, 159, 159);
}
.foodpad{
    padding-top:10px ;
}